export(AddCumDiv)
export(addVLine)
export(adjustBAM)
export(adjustIntraday.yahoo)
export(alignSymbols)
export(applyFilter)
export(As)
export(BAM)
export(BATM)
export(Bi)
export(CBOEcalendar)
export(CFEcalendar)
export(Ch)
export(ClOp)
export(convertEarningsTime)
export(convert.illions)
export(do.call.rbind)
export(estAd)
export(ExcludeDates)
export(ExcludeTimes)
export(gaa)
export(get_div)
export(getEarnings)
export(.getEarningsCalendar)
export(getEarningsCalendar)
export(getEconomicCalendar)
export(.getEconomicCalendarBriefing)
export(getEconomicCalendarBriefing)
export(.getEconomicCalendarYahoo)
export(getEconomicCalendarYahoo)
export(getEPS)
export(getHoldings)
export(getHoldings.Direxion)
export(getHoldings.FirstTrust)
export(getHoldings.GlobalX)
export(getHoldings.iShares)
export(getHoldings.powershares)
export(getHoldings.selectSPDR)
export(getHoldings.SPDR)
export(getHoldings.vaneck)
export(getHoldings.WisdomTree)
export(.getMergersCalendar)
export(getMergersCalendar)
export(get_spl)
export(getSpreadDividends)
export(getSymbols.cfe)
export(gsa)
export(has.AskSize)
export(has.BAM)
export(has.BATM)
export(has.BidSize)
export(has.Chg)
export(has.Mid)
export(is.BAM)
export(is.BATM)
export(makePriceFrame)
export(makeReturnFrame)
export(MakeStrictlyRegular)
export(makeTestData)
export(Mi)
export(PF)
export(plotBAT)
export(plotInstruments)
export(plotRelPerf)
export(remove_zero_rows)
export(RF)
export(TimeOfDaySubset)
export(Tr)
