S3method(plot,bats)
S3method(plot,depth)
S3method(plot,ladder)
S3method(print,bats)
S3method(print,depth)
S3method(print,ladder)
export(.getDividendsCalendar)
export(.getEarningsCalendar)
export(.getEconomicCalendarBriefing)
export(.getEconomicCalendarYahoo)
export(.getMergersCalendar)
export(.getSplitsCalendar)
export(AddCumDiv)
export(As)
export(BAM)
export(BATM)
export(Bi)
export(CBOEcalendar)
export(CFEcalendar)
export(Ch)
export(ClOp)
export(ExcludeDates)
export(ExcludeTimes)
export(MakeStrictlyRegular)
export(Mi)
export(PF)
export(RF)
export(TimeOfDaySubset)
export(Tr)
export(addVLine)
export(adjustBAM)
export(adjustIntraday.yahoo)
export(alignSymbols)
export(applyFilter)
export(convert.illions)
export(convertEarningsTime)
export(do.call.rbind)
export(estAd)
export(gaa)
export(getDividendsCalendar)
export(getEPS)
export(getEarnings)
export(getEarningsCalendar)
export(getEconomicCalendar)
export(getEconomicCalendarBriefing)
export(getEconomicCalendarYahoo)
export(getHoldings)
export(getHoldings.Direxion)
export(getHoldings.FirstTrust)
export(getHoldings.GlobalX)
export(getHoldings.SPDR)
export(getHoldings.WisdomTree)
export(getHoldings.iShares)
export(getHoldings.powershares)
export(getHoldings.selectSPDR)
export(getHoldings.vaneck)
export(getMergersCalendar)
export(getQuote.BATS)
export(getQuote.bats)
export(getSplitsCalendar)
export(getSpreadDividends)
export(getSymbols.cfe)
export(getSymbols.pos)
export(get_div)
export(get_spl)
export(gsa)
export(has.AskSize)
export(has.BAM)
export(has.BATM)
export(has.BidSize)
export(has.Chg)
export(is.BAM)
export(is.BATM)
export(makePriceFrame)
export(makeReturnFrame)
export(makeTestData)
export(plotBAT)
export(plotInstruments)
export(plotRelPerf)
export(remove_zero_rows)
export(shinyBATS)
importFrom(RCurl,getURL)
importFrom(RCurl,postForm)
importFrom(RJSONIO,fromJSON)
importFrom(pander,pandoc.table)
importFrom(shiny,runApp)
