export(addVLine)
export(adjustBAM)
export(adjustIntraday.yahoo)
export(alignSymbols)
export(applyFilter)
export(As)
export(BAM)
export(BATM)
export(Bi)
export(CBOEcalendar)
export(CFEcalendar)
export(Ch)
export(ClOp)
export(convert.illions)
export(estAd)
export(get_div)
export(getEPS)
export(getHoldings)
export(get_spl)
export(getSpreadDividends)
export(getSymbols.cfe)
export(gsa)
export(has.AskSize)
export(has.BAM)
export(has.BATM)
export(has.BidSize)
export(has.Chg)
export(has.Mid)
export(is.BAM)
export(is.BATM)
export(makePriceFrame)
export(makeReturnFrame)
export(makeTestData)
export(Mi)
export(PF)
export(plotBAT)
export(plotInstruments)
export(plotRelPerf)
export(remove_zero_rows)
export(RF)
export(Tr)
